# Clerk secrets
CLERK_DOMAIN=
CLERK_SECRET_KEY=

#Convex secrets
CONVEX_DEPLOYMENT=
NEXT_PUBLIC_CONVEX_URL=

#Next secrets
NEXT_PUBLIC_PAYMENT_URL=
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=

#Code execution secrets
CODE_RUNNER=
EXECUTOR_API_KEY=

#AI analysis secrets
AI_ANALYSIS_MODEL=